# Python 가상 환경
.venv/
venv/
ENV/
env/
# 백엔드 관련
#app/models/hairAI.h5

# app/static/images와 app/static/pdfs 디렉토리 내 모든 파일과 폴더 무시
app/static/images/**
app/static/pdfs/**

# app/static/images와 app/static/pdfs 디렉토리 자체는 무시하지 않음
!app/static/images/
!app/static/pdfs/

# .gitkeep 파일은 무시하지 않음
!app/static/images/.gitkeep
!app/static/pdfs/.gitkeep


# 필요시, 디렉토리를 Git에서 추적하기 위해 빈 파일 추가 (선택 사항)
# 예: app/static/images/.gitkeep, app/static/pdfs/.gitkeep


# 프론트엔드 관련
frontend/node_modules/
frontend/build/
frontend/.env

# 데이터베이스 파일
app.db

# 환경 변수 파일
.env

# OS 생성 파일
.DS_Store
Thumbs.db

# 기타
*.log
*.pyc
__pycache__/
